.Navigation_Container {
  position: fixed;
  left: 0;
  top: 0;
  padding: 1rem;
  overflow: hidden;
  background: #fff;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #cecece;
}
.Navigation_Logo {
  float: left;
  color: #e83f3f;
}
.Navigation_Burger {
  display: none;
  float: left;
  padding: .25rem;
  color: #000;
  transition: ease-in .1s;
}
.Navigation_Burger:hover {
  cursor: pointer;
  color: #e83f3f;
  transition: ease-in .1s;
}
.Navigation_User {
  float: right;
  color: #000;
  transition: ease-in .1s;
}
.Navigation_User:hover {
  cursor: pointer;
  color: #e83f3f;
  transition: ease-in .1s;
}
.Navigation_User_Username {
  display: block;
  padding-right: 1rem;
  float: left;
  color: #000 !important;
  line-height: 2rem;
}

.Navigation_Links_Container {

}
.Navigation_Links {
  display: inline-block;
}
.Navigation_Links a {
  padding-left: 2rem;
  line-height: 2rem;
  text-decoration: none;
  color: #000;
  transition: ease-in .1s;
}
.Navigation_Links a:hover {
  color: #e83f3f;
  transition: ease-in .1s;
}
.Navigation_Links a.Active {
  color: #e83f3f;
}

@media (max-width: 991px) {
  .Navigation_Logo {
    position: absolute;
    float: none;
    left: 50%;
    margin-left: -.75rem;
  }
  .Navigation_Burger {
    display: block;
  }
  .Navigation_Links {
    display: none;
  }
  .Navigation_Links.Open {
    position: fixed;
    left: 0;
    top: 4rem;
    display: block;
    padding: .5rem 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #fff;
    box-sizing: border-box;
  }
  .Navigation_Links.Open a {
    display: block;
    padding: .5rem 0;
    font-size: 1.5rem;
    text-decoration: none;
    color: #000;
    transition: ease-in .1s;
  }
  .Navigation_Links.Open a:hover {
    color: #e83f3f;
    transition: ease-in .1s;
  }
  .Navigation_Links.Open a.Active {
    color: #e83f3f;
  }
}

/* Extra small devices (portrait phones, less than 576px) */
/* @media (max-width: 575px) {
} */

/* Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) and (max-width: 767px) {
} */

/* Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) and (max-width: 991px) {
} */

/* Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) and (max-width: 1199px) {
} */

/* Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) {
} */
