.Navigation_Container {
  position: fixed;
  left: 0;
  top: 0;
  padding: 1rem;
  overflow: hidden;
  background: #fff;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #cecece;
}
.Navigation_Logo {
  float: left;
}
.Navigation_Burger {
  display: none;
  float: right;
  transition: ease-in .2s;
}
.Navigation_Burger:hover {
  cursor: pointer;
  color: #007bff;
  transition: ease-in .2s;
}

.Navigation_Links {

}

@media (max-width: 991px) {
  .Navigation_Burger {
    display: block;
  }
  .Navigation_Links {
    display: none;
  }
}

/* Extra small devices (portrait phones, less than 576px) */
/* @media (max-width: 575px) {
} */

/* Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) and (max-width: 767px) {
} */

/* Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) and (max-width: 991px) {
} */

/* Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) and (max-width: 1199px) {
} */

/* Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) {
} */
