.Grid {
  display: block;
  margin: 0 auto;
  float: left;
  min-height: 1px;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
  .Grid {
    padding: 0 3rem 3rem ;
    float: none;
    box-sizing: border-box;
  }
  .Grid-Col12 {
    width: 100%;
  }
  .Grid-Col9 {
    width: 100%;
  }
  .Grid-Col8 {
    width: 100%;
  }
  .Grid-Col6 {
    width: 100%;
  }
  .Grid-Col4 {
    width: 100%;
  }
  .Grid-Col3 {
    width: 100%;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
  .Grid {
    padding: 0 5rem 3rem;
    box-sizing: border-box;
  }
  .Grid-Col12 {
    width: 100%;
  }
  .Grid-Col9 {
    width: 100%;
  }
  .Grid-Col8 {
    width: 100%;
  }
  .Grid-Col6 {
    width: 100%;
  }
  .Grid-Col4 {
    width: 100%;
  }
  .Grid-Col3 {
    width: 100%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  .Grid {
    padding: 0 2rem 0;
    box-sizing: border-box;
  }
  .Grid-Col12 {
    width: 100%;
  }
  .Grid-Col9 {
    width: 75%;
  }
  .Grid-Col8 {
    width: 66.66%;
  }
  .Grid-Col6 {
    width: 50%;
  }
  .Grid-Col4 {
    width: 33.33%;
  }
  .Grid-Col3 {
    width: 25%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
  .Grid {
    padding: 0 3rem 0;
    box-sizing: border-box;
  }
  .Grid-Col12 {
    width: 100%;
  }
  .Grid-Col9 {
    width: 75%;
  }
  .Grid-Col8 {
    width: 66.66%;
  }
  .Grid-Col6 {
    width: 50%;
  }
  .Grid-Col4 {
    width: 33.33%;
  }
  .Grid-Col3 {
    width: 25%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .Grid {
    padding: 0 3rem 0;
    box-sizing: border-box;
  }
  .Grid-Col12 {
    width: 100%;
  }
  .Grid-Col9 {
    width: 75%;
  }
  .Grid-Col8 {
    width: 66.66%;
  }
  .Grid-Col6 {
    width: 50%;
  }
  .Grid-Col4 {
    width: 33.33%;
  }
  .Grid-Col3 {
    width: 25%;
  }
}
