.TextInput-Container {
  padding: .5rem 0;
}
.TextInput-Label {
  font-weight: 300;
}
.TextInput-Required {
  color: #dc3545;
}
.TextInput {
  display: block;
  margin-top: .5rem;
  padding: .5rem 1rem;
  width: 100%;
  font-size: 1rem;
  font-weight: 300;
  box-sizing: border-box;
  border: none;
}
.TextInput.Primary {
  background-color: #f1f1f1;
}
.TextInput.Success {
  background-color: #d8f3d6;
}
.TextInput.Danger {
  background-color: #ffe3e5;
}
