.TextInput-Container {
  padding: .5rem 0;
}
.TextInput-Label {
  font-weight: 300;
}
.TextInput-Required {
  color: #dc3545;
}
.TextInput {
  display: block;
  margin-top: .5rem;
  padding: .5rem 1rem;
  width: 100%;
  font-size: 1rem;
  font-weight: 300;
  box-sizing: border-box;
}
.TextInput.Primary {
  border: none;
  background-color: #f1f1f1;
  border-bottom: .1rem solid #007bff;
}
.TextInput.Secondary {
  border: none;
  background-color: #f1f1f1;
  border-bottom: .1rem solid #6c757d;
}
.TextInput.Success {
  border: none;
  background-color: #f1f1f1;
  border-bottom: .1rem solid #28a745;
}
.TextInput.Danger {
  border: none;
  background-color: #f1f1f1;
  border-bottom: .1rem solid #dc3545;
}
.TextInput.Warning {
  border: none;
  background-color: #f1f1f1;
  border-bottom: .1rem solid #ffc107;
}
.TextInput.Info {
  border: none;
  background-color: #f1f1f1;
  border-bottom: .1rem solid #17a2b8;
}
.TextInput.Light {
  background-color: #f1f1f1;
  border: none;
}
.TextInput.Dark {
  background-color: #bcbcbd;
  border: none;
}
